

body{
  font-family: 'font-meutus', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  min-width: 230px;
  overflow-x: hidden;
}


